*{color: #00d5ff; font-size: 12px; line-height: 24px;margin:0;padding:0;}
a{text-decoration: none;}
body::-webkit-scrollbar{width: 0px;}
textarea::-webkit-scrollbar{width: 0px;}
div::-webkit-scrollbar{width:0px;}
.abs{position: absolute;}
.rel{position: relative !important;}
.f-red{color: #ff0000;}
.f-lbue{color: #e2fcff;}
.f-gray{color: #a8a68a;}
.f-14{font-size: 14px;}
.lh-40{line-height: 40px;}
.f-16{font-size: 16px;}
.f-20{font-size: 20px;}
.t-spa4{letter-spacing: 4px;}
.d-block{display: block;}
.clear:before,.clear:after {content:"";display:table;}
.clear:after {clear:both;overflow:hidden;}
.clear {zoom:1;}
.ani{position:absolute;}
.stat{position: static !important;}
.fl{float: left;}
.fr{float: right;}
.mb10{margin-bottom: 10px;}

/*字体*/
@font-face {font-family: "iconfont";
  src: url('../font/iconfont.ttf') format('truetype'), 
  url('../font/iconfont.svg#iconfont') format('svg'); 
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:24px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
}
html,body{background-image: url(../images/bg2.jpg); background-size: 100% 100%;height:100%;
}
body{
	font-family:"microsoft yahei";
}
img{width: 100%; display: block; border: 0 none;}
.mask{width: 100%; height: 100%; background-color:rgba(0,0,0,.7); position: fixed; left: 0; top: 0; z-index:100; display: none;}
/*音乐*/
.music-icon{ width: 26px; position: absolute; top: 10px; right: 8px; z-index: 15; color: #fff;}
@-webkit-keyframes rotate {
	0%{}
	100% {-webkit-transform: rotate(360deg)}
}

@keyframes rotate {
	0%{}
	100% {transform: rotate(360deg);}
}
.run1-rotate{animation: rotate 1s infinite linear; -webkit-animation: rotate 1s infinite linear;}
/*预加载*/
.loading-box{width: 100%; height: 100%; background-color: #000; opacity: .69; position: fixed; left: 0; top: 0; z-index:99999;}
.load-img1{width: 12%; position: absolute; left: 50%; top: 50%;transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%); }
/*.double-bounce1, .double-bounce2 {
  width: 100%; height: 100%;
  border-radius: 50%;background-color: #0ff; opacity: 0.6;position: absolute; top: 0;left: 0;
  -webkit-animation: bounce 2.4s infinite ease-in-out;animation: bounce 2.4s infinite ease-in-out;}
 
.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
 
@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}
 
@keyframes bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}*/
/*预加载*/
.swiper-container {width: 100%; height: 100%;}  

.swiper-slide{
	width:100%;
	height:100%;  background-image: url(../images/bg1.jpg); background-size: 100% 100%;

}
.swiper-slide1.swiper-slide-active .swiper-pagination{display: none;}
.swiper-pagination{top: 20%; right: 10px; z-index: 12;}
.swiper-pagination-bullet {
width: 8px;
height: 8px; background-color: #fff; border-radius: 50%; -webkit-border-radius: 50%; display: block; margin-bottom: 8px; z-index: 100; opacity: .2;
}
.swiper-pagination-bullet-active {
opacity: 1;
}
.up-arrow{width: 10%; left: 45%; bottom: 6.5%; z-index: 10;}
.swiper-slide1{}
.swiper-slide2{  background-image: url(../images/bg2.jpg); }
.swiper-slide5{  background-image: url(../images/bg2.jpg); }
.swiper-slide10{  background-image: url(../images/bg2.jpg); }
.f-blue2{color: #00fefe;}



.page1-adorn1{width:30%; float: right;}
.page1-title1{width: 80%; margin: 10px auto;}
.page1-adorn2{width: 70%; margin: 10px auto;}
.logo1{width: 20%; left: 40%; bottom: 10px;}
.page1-btn1{width: 50%; margin: 10px auto; }
.page1-content1{margin: 0 auto;}
.page1-star1{width: 20%; top: 14%; left: 11%; opacity: 0; animation: flash2 1s infinite; -webkit-animation: flash 1s infinite;}
.page1-star2{width: 20%; top: 74%; left: 16%; opacity: 0; animation: flash2 1s infinite; -webkit-animation: flash 1s infinite;}
.page1-star3{width: 20%; top: 22%; right: 33%;opacity: 0; animation: flash2 1s infinite; -webkit-animation: flash 1s infinite;}
.page1-star4{width: 18%; top: -6%; right: 42%;opacity: 0; animation: flash2 1s infinite; -webkit-animation: flash 1s infinite;}
.page1-star5{width: 20%; top: 14%; right: 9%;opacity: 0; animation: flash2 1s infinite; -webkit-animation: flash 1s infinite;}
.page2-adorn1{width: 124%;left: -30%; top: -35%;}
.page2-adorn2{width: 34%;right: 0; top: 19%;}
.page2-adorn3{width: 70%; bottom: 2%; left: 2%; animation: rotate 6s infinite linear; -webkit-animation: rotate 6s infinite linear;}
.page2-txt{bottom: 18%; z-index: 3; left: 16%;}

.page3-box{width: 80%;
transform: translate(-50%,-50%); -webkit-transform:  translate(-50%,-50%); left: 50%; top: 50%;}
.page5-box{width: 90%;
transform: translate(-50%,-50%); -webkit-transform:  translate(-50%,-50%); left: 50%; top: 50%;}

.page3-adorn3{width: 80%; left: 10%;  top: 10%;}
.page3-adorn2{width: 72%; left: 14%;  top: 14%;}
.page3-title1{width: 80%; margin: 0 auto; }
.page3-content1{width: 60%; margin: 40px auto;}
.page4-content1{width: 94%; margin: 5% auto 10px auto;}
.page4-man1{width: 16%; bottom: 20%; left: 40%; opacity: 0;}
.page4-man2{width: 16%; top: 46%; right: 10%; opacity: 0;}
.page4-man3{width: 16%; top: 40%; left: 20%; opacity: 0;}
.page4-man4{width: 16%; top: 20%; left: 40%; opacity: 0;}
.page4-btn1{width: 40%; margin: 20px auto; border: 2px solid #0ff; box-sizing: border-box; -webkit-box-sizing: border-box;}
.page4-adorn2{width: 3%; bottom: 5%; left: 3%; background-image: url(../images/page4-adorn2.png); background-size: 500% 100%;
animation: block1 1s infinite alternate steps(5); -webkit-animation: block1 1s infinite steps(5);
}
@-webkit-keyframes block1{
	from{}
	to{background-position: 500% 0;}
}
@keyframes block1{
	from{}
	to{background-position: 500% 0;}
}

.page5-adorn2{bottom: 12%; width: 26%; z-index: 2; right: 20%; animation: rotate 5s infinite linear !important; -webkit-animation: rotate 5s infinite linear !important;}
.page5-lists{width: 30%; right: 18%; z-index: 2; top: 12%;}
.page6-btn1{width: 60%; margin: 30px auto;}
.page6-content1{width: 90%; margin: 40% auto 0 auto;}
.page5-right{width: 30%; left: 55%; z-index: 2; top: 6%;}


.page5-content{width: 90%;
transform: translate(-50%,-50%); -webkit-transform:  translate(-50%,-50%); left: 50%; top: 50%;}
.page5-top1{ height: 60px; padding-top: 5px; padding-left: 5%; background-image: url(../images/page5-adorn3.png); background-size: 95% 100%; background-repeat: no-repeat;}
.page5-names{height: 70px; right: 0; top: -5px; width: auto;}
.page5-top2{background-image: url(../images/page5-adorn4.png); background-size: 100% 100%; padding: 50px 20px; box-sizing: border-box; -webkit-box-sizing: border-box;}
.page5-mans{width: 51%;}
.page5-adorn6{z-index: -1; bottom: -8px;}
.page5-adorn5{z-index: 2; top: 5%; left: 0; animation: scan 2s infinite alternate linear; -webkit-animation: scan 2s infinite alternate linear; }
@keyframes scan{
	from{}
	to{top: 90%;}
}
@-webkit-keyframes scan{
	from{}
	to{top: 90%;}
}
.page5-skills-box{width: 100%; height: 100%; top: 0; left: 0; position: absolute; display: none;}
.page5-skills{background-color: #1c6262; border: 2px solid #0ff;-webkit-box-shadow:0 0 20px #0ff;
  box-shadow:0 0 20px #0ff;  color: #00fdff; border-radius: 50%; -webkit-border-radius: 50%;  text-align: center; font-weight: bold;}
  .skill-big{width: 50px; height: 50px; line-height: 50px; }
  .skill-large{width: 56px; height: 56px; line-height: 56px; font-weight: normal !important; }
  .skill-mid{width: 40px; height: 40px; line-height: 40px; }
  .skill-mini{width: 30px; height: 30px;  line-height: 30px;}
.page5-skill4-1{  right: 10%; top: 16%; }
.page5-skill2-1{  right: 20%; top: 14%; }
.page5-skill2-2{  left: 50%; top: 38%; }
.page5-skill2-3{  right: 12%; top: 58%; }
.page5-skill2-4{  left: 62%;bottom: 8%; }
.page5-skill1-4{  left: 44%;bottom: 8%; }
.page5-skill4-4{  right: 14%;bottom: 18%; }

.page5-content1{width: 90%; margin: 0 auto 10px auto; background-image: url(../images/page5-adorn1.png); background-size: 100% 100%; padding:10px 10px 20px 10%; box-sizing: border-box; -webkit-box-sizing: border-box;}



.page6-mans{width: 26%; z-index: 2; top: 8%; left: 13%; background-image: url(../images/page5-adorn7.png); background-size: 100% 100%; padding: 5px 15px 0 15px; }
.page6-txt1{width: 54%; margin-left: 5%; }
#output5{}
.page7-content1{width:32% ; top: 10%; left: 5%;}
.page7-adorn1{width: 80%; left: 10%; top: 18%; z-index: 2;}
.page7-content2{width: 60%; top: 30%; left: 20%;}
.page7-txt1{width: 50%; left:25%; top: 40%;}
.page8-content{background-image: url(../images/page8-adorn1.png); background-size: 100% 100%; width: 90%;  padding: 40px 0; box-sizing: border-box; -webkit-box-sizing: border-box; transform: translate(-50%,-50%); -webkit-transform:  translate(-50%,-50%); left: 50%; top: 50%;}
.page9-content{background-image: url(../images/page8-adorn1.png); background-size: 100% 100%; width: 86%;  padding: 30px 0; box-sizing: border-box; -webkit-box-sizing: border-box; 
transform: translate(-50%,-50%); -webkit-transform:  translate(-50%,-50%); left: 50%; top: 50%;}
.page8-adorn2{width: 90%; margin: 0 auto;}
.page9-adorn2{width: 90%; margin: 0 auto 30px auto;}
.typesource{opacity: 0; z-index: -1; top: 0; left: 0; }
.page9-listbox{width: 80%; margin: 10px auto;}
.page9-list{border:2px solid  #00fdff; background-color: #1c6262; height: 50px; margin-bottom: 20px; }
.page9-list-left{height: 60px; width: auto; margin: -12px 0 0 0;}
.page9-icon1{height: 20px; margin: 15px 10px; width: auto;}
.page9-det{line-height: 50px; color: #00fdff; font-size: 14px; margin-left: 10px; width: 42%; text-overflow: ellipsis; overflow: hidden;  white-space: nowrap;}
.page10-content{width: 80%;
transform: translate(-50%,-50%); -webkit-transform:  translate(-50%,-50%); left: 50%; top: 50%;}
.page10-adorn1{ background-image:url(../images/page10-adorn1.png) ; background-size: 400% 100%; top: 0; left: 0;
animation: p10adorn1 .3s infinite steps(4); -webkit-animation: p10adorn1 .3s infinite steps(4);
}
.page10-man{width: 60%; z-index: -1; left: 20%; bottom: 18%;}
.page10-top1{width: 80%; margin: 10px auto;}
.page10-bottom1{margin-top: -30px;}

@-webkit-keyframes p10adorn1{
	from{}
	to{background-position: 400%;}
}
@keyframes p10adorn1{
	from{}
	to{background-position: 400%;}
}
.page11-content{width: 60%;transform: translate(-50%,-50%); -webkit-transform:  translate(-50%,-50%); left: 50%; top: 50%; }

.page11-inner{width: 80%; margin:0 auto;}
.page11-adorn3{width: 74%; left: 13%; top: 14%; animation: rotate 4s infinite linear; -webkit-animation: rotate 4s infinite linear;}
.page11-header{width: 46%; left: 27%; top: 27%; z-index: 2; border-radius: 50%; -webkit-border-radius: 50%; opacity: 0.79;}
.page12-content{width: 80%;transform: translate(-50%,-50%); -webkit-transform:  translate(-50%,-50%); left: 50%; top: 50%; }
.page12-adorn1{width: 60%; margin: 0px auto 5px auto;}
.page12-inner{background-image: url(../images/page12-adorn2.png); background-size: 100% 100%; padding: 30px 15px; box-sizing: border-box; -webkit-box-sizing: border-box;}
.page12-adorn3{width: 70%; }
.page12-innerof1{width: 60%; margin: 10px auto;}
.twocode{border: 2px solid #00f4ff; box-sizing: border-box; -webkit-box-sizing: border-box;}
.page10-adorn3{width: 30%; left: 10%; top: 60%;}
.page10-adorn4{width: 30%; right: 10%; bottom: 10%;}
.page10-adorn5{width: 38%; right: 3%; top: 45%;}
.page11-det{background-color: #1c6262; color: #0ff; border: 2px solid #0ff; box-sizing: border-box; -webkit-box-sizing: border-box;}
.page11-advanced{background-image: url(../images/page11-adorn1.png); background-size: 100% 100%; height: 36px; line-height: 40px;
display:-webkit-box;overflow:hidden;text-overflow:ellipsis;word-wrap:break-word;white-space:normal!important;-webkit-line-clamp:2;-webkit-box-orient:vertical;
}
.page5-det{width: 75%;display:-webkit-box;overflow:hidden;text-overflow:ellipsis;word-wrap:break-word;white-space:normal!important;-webkit-line-clamp:2;-webkit-box-orient:vertical;}
.share-img1{width: 50%; margin: 20px auto;}
.ikonw-btn{width: 30%; line-height: 30px; border: 2px solid #00fdff; color: #00fdff; margin: 10px auto;}
.page12-btn-box{margin-top: 10px;}
.page12-btn-box center{width: 45%;line-height: 26px; font-size: 14px; border: 1px solid #00ffff; color: #00f6ff; background-color: rgba(16,47,52,.6); box-sizing: border-box;-webkit-box-sizing: border-box;}


/*小屏手机*/
@media only screen and (max-height: 530px) {
 .page1-content1{ width: 90%; }
 .page2-adorn1{width: 116%;}
}
@media only screen and (max-height: 480px) {
	.page12-content{width: 70%; }
	.page12-inner{ padding:25px 15px 5px 15px;}
	.page2-adorn3{width: 60%;}
 .page1-content1{ width: 60%; }
 .page4-content1{width: 70%; }
 .page10-content{width: 70%;}
 .page5-top2{ padding: 30px 20px;}
}


.typing-cursor, .typing-cursor-black, .typing-cursor-white {
  opacity: 1;
  font-weight: bold;
  -webkit-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

.typing-cursor{
  color: #0ff;
}
.bottom-point{width: 10%; left: 45%; z-index: 99; bottom: 5%;  -webkit-animation:arrow 3s ease-in-out  infinite; animation: arrow 3s ease-in-out infinite;}
@-webkit-keyframes arrow {
	0% {
		-webkit-transform:translate(0,0);
	}
	50% {
		-webkit-transform:translate(0,30%); 
	}
	100% {
		-webkit-transform:translate(0,0);  opacity: .3;
	}
}
@keyframes arrow{
	0%{transform: translate(0,0);}
	50%{transform: translate(0,30%);}
	100%{transform: translate(0,0); opacity: .3;}
}
/*animate附加特效*/

.float{animation-name: float; -webkit-animation-name: float; -webkit-animation-timing-function: linear; animation-timing-function: linear; -webkit-animation-direction: alternate;animation-direction: alternate; }
.vanishin{animation-name: vanishIn;-webkit-animation-name: vanishIn;}
.totop{animation-name: totop;-webkit-animation-name: totop;}
.tobottom{animation-name: tobottom;-webkit-animation-name: tobottom;}
.vanishout{animation-name: vanishOut;-webkit-animation-name: vanishOut;}
.puffout{animation-name: puffOut;-webkit-animation-name: puffOut;}
.tinUpIn{animation-name: tinUpIn;-webkit-animation-name: tinUpIn;}
.blurInRight{animation-name: blurInRight; -webkit-animation-name: blurInRight;}
.flash2{animation-name: flash2; -webkit-animation-name: flash2;}
.slideOutDown1{animation-name: slideOutDown1; -webkit-animation-name: slideOutDown1;}
.slideOutUp1{animation-name: slideOutUp1; -webkit-animation-name: slideOutUp1;}
.reverse-rotate{animation:reverse-rotate 6s infinite linear; -webkit-animation:reverse-rotate 6s infinite linear;}
.rotate{animation:rotate 10s infinite linear; -webkit-animation:rotate 10s infinite linear;}
/*打字机2*/
.typing{
	animation-name: type ; -webkit-animation: type;-webkit-animation-timing-function:steps(10, end) ; animation-timing-function: steps(10,end);}

@-webkit-keyframes slideOutDown1 {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 30%, 0); 
  }
}

@keyframes slideOutDown1 {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(0, 30%, 0);
  }
}
@-webkit-keyframes slideOutUp1 {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(0, -30%, 0);
  }
}

@keyframes slideOutUp1 {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(0, -30%, 0);
  }
}



@-webkit-keyframes type{
    from { width: 0;}
}

@keyframes type{
    from { width: 0;}
}
/*打字机*/
@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes totop{
    from {}
    to{transform: translateY(10%);}
}
@-webkit-keyframes totop{
    from {}
    to{transform: translateY(10%);}
}
@-webkit-keyframes tobottom{
    from {}
    to{transform: translateY(-10%);}
}
@-webkit-keyframes tobottom{
    from {}
    to{transform: translateY(-10%);}
}

@keyframes type{
    from { width: 0;}
}
@-webkit-keyframes float{
	from{ opacity: .5;}
	to{-webkit-transform: translateY(-10px); opacity: 1;}
}
@keyframes float{
	from{opacity: .5;}
	to{transform: translateY(-10px); opacity: 1;}
}
@-webkit-keyframes rotate {
	0%{}
	100% {-webkit-transform: rotate(360deg);}
}
@keyframes rotate {
	0%{}
	100% {transform: rotate(360deg);}
}
@-webkit-keyframes reverse-rotate {
	0%{}
	100% {-webkit-transform: rotate(-360deg);}
}
@keyframes reverse-rotate {
	0%{}
	100% {transform: rotate(-360deg);}
}
@-webkit-keyframes flash2 {
  0% {
    opacity: 0;
  }

  50%, 70%, 90% {
    opacity: 1;
  }

  60%, 80%, 100% {
    opacity: 1;
  }
}
@keyframes flash2 {
  0% {
    opacity: 0;
  }

  50%, 70%, 90% {
    opacity: 1;
  }

  60%, 80%, 100% {
    opacity: 1;
  }
}
@-webkit-keyframes tinUpIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(1, 1) translateY(-900%);
  }

  50%, 70%, 90% {
    opacity: 1;
    -webkit-transform: scale(1.1, 1.1) translateY(0);
  }

  60%, 80%, 100% {
    opacity: 1;
    -webkit-transform: scale(1, 1) translateY(0);
  }
}
@keyframes tinUpIn {
  0% {
    opacity: 0;
    transform: scale(1, 1) translateY(-900%);
  }

  50%, 70%, 90% {
    opacity: 1;
    transform: scale(1.1, 1.1) translateY(0);
  }

  60%, 80%, 100% {
    opacity: 1;
    transform: scale(1, 1) translateY(0);
  }
}
@-webkit-keyframes puffOut {
  0% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: scale(1,1);
    -webkit-filter: blur(0px);
  }

  100% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: scale(2,2);
    -webkit-filter: blur(2px);
  }
}
@keyframes puffOut {
  0% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1,1);
    -webkit-filter: blur(0px);
  }

  100% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(2,2);
    -webkit-filter: blur(2px);
  }
}
	@-webkit-keyframes vanishOut {
  0% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1);
    -webkit-filter: blur(0px);
  }

  100% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: scale(2, 2);
    -webkit-filter: blur(20px);
  }
}
@keyframes vanishOut {
  0% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1);
    -webkit-filter: blur(0px);
  }

  100% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(2, 2);
    -webkit-filter: blur(20px);
  }
}
@-webkit-keyframes vanishIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: scale(2, 2);
    -webkit-filter: blur(90px);
  }

  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1);
    -webkit-filter: blur(0px);
  }
}
@keyframes vanishIn {
  0% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(2, 2);
    -webkit-filter: blur(90px);
  }

  100% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1);
    -webkit-filter: blur(0px);
  }
}
@-webkit-keyframes blurInRight {
  0% {
    opacity: 0; -webkit-filter: blur(15px);
    -webkit-transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
  }
}

@keyframes blurInRight {
  0% {
    opacity: 0;filter: blur(15px);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
/*animate附加特效*/